@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }

  .poppins-medium-md {
    font-family: "Poppins", sans-serif  !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 16px !important;
  }
  .poppins-medium-sm {
    font-family: "Poppins", sans-serif  !important;
    font-weight: 500 !important;
    font-style: normal !important;
    font-size: 13px !important;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  .poppins-bold-md {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 14px;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  .poppins-extrabold-lg {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 55px;
    width: 650px;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .homeBg{
    background-image: url("https://res.cloudinary.com/dubaep0qz/image/upload/v1712610998/360event/sjii6m4b7j1lkkfj9qs0.jpg");
    background-size: cover;
    height: 100vh;
  }
  .smallfont{
    font-size: 12px;
  }
  .custom-color{
    background-color: #04569f;
    
  }
  .custom-background{
    background:whitesmoke ;
    height: 100vh;
  }
  nav{
    z-index:99;
  }
  .hide{
    display: none !important;
  }
  .hideBtn{
    display: none !important;
  }
  .blueBtn{
    display: block !important;
  }

  .noEvents{
    font-size: 20px;
    color: rgba(179, 179, 179, 0.377);
  }
  .w96{
    width: 50% !important;
  }

.bgblue500{
  background-color: #024b8b !important;
}

  .card-title {
    color: #262626;
    font-size: 1.5em;
    line-height: normal;
    font-weight: 700;
    margin-bottom: 0.5em;
  }
  
  .small-desc {
    font-size: 1em;
    font-weight: 400;
    line-height: 1.5em;
    color: #452c2c;
  }
  
  .small-desc {
    font-size: 1em;
  }
  
  .go-corner {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 0;
    right: 0;
    background: linear-gradient(135deg, #6293c8, #002255);
    border-radius: 0 4px 0 32px;
  }

  .go-corner1 {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    width: 2em;
    height: 2em;
    overflow: hidden;
    top: 150px;
    left: 0;
    background: linear-gradient(135deg, #7e0707, #550004);
    border-radius:  4px  32px 0 0;
  }
  
  .go-arrow {
    margin-top: -4px;
    margin-right: -4px;
    color: white;
    font-family: courier, sans;
    font-size: 1px !important;
    cursor: pointer;


  }
  .go-arrow span{
    font-size: 15px;
  }
  .go-arrow1 {
    margin-top: 4px;
    margin-right: 4px;
    color: white;
    font-family: courier, sans;
    font-size: 1px !important;
    cursor: pointer;

  }
  .go-arrow1 span{
    font-size: 15px;
  }
  
  .card {
    display: block;
    position: relative;
    min-width: 300px;
    max-height: 320px;
    background-color: #f2f8f9;
    border-radius: 10px;
    padding: 2em 1.2em;
    margin: 12px;
    text-decoration: none;
    z-index: 0;
    overflow: hidden;
    background: linear-gradient(to bottom, #c3e6ec, #60c5da);
    font-family: Arial, Helvetica, sans-serif;
  }
  
  .card:before {
    content: '';
    position: absolute;
    z-index: -1;
    top: -16px;
    right: -16px;
    background: linear-gradient(135deg, #002f61, #384c6c);
    height: 32px;
    width: 32px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.35s ease-out;
  }
  
  
  .card:hover:before {
    transform: scale(30);
  }
  
  .card:hover .small-desc {
    transition: all 0.5s ease-out;
    color: rgba(255, 255, 255, 0.8);
  }
  
  .card:hover .card-title {
    transition: all 0.5s ease-out;
    color: #ffffff;
  }
  .go-corner:hover{
    background: #60c5da;
  }
  .go-corner1:hover{
    background: #e60013;
  }
 

  .minHeight{
    max-height: 500px ;
    overflow-y: auto;
  }
  

  @media screen and (max-width: 480px) {
    .custom-color{
      background-color: #ffd900;
      
      
    }
    .poppins-extrabold-lg {
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 30px;
      width: 100%;
    }
    .getStart Button{
      width: 100%;
    }
    .homeBg{
      background-image: linear-gradient(rgb(4,86,159)20%, rgb(255, 230, 0)80%), url("https://res.cloudinary.com/dubaep0qz/image/upload/v1712610998/360event/sjii6m4b7j1lkkfj9qs0.jpg");
      background-size: cover;
      height: 100vh;
    }
    .poppins-medium-sm {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 12px;
    }
    .hide{
      display: block !important;
    }
    .hideBtn{
      display: block !important;
    }
    .blueBtn{
      display: none !important;
    }
  }