@tailwind base;
@tailwind components;
@tailwind utilities;

.poppins-thin {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: normal;
  }
  
  .poppins-extralight {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: normal;
  }
  
  .poppins-light {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
  }
  
  .poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .poppins-medium {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
  }
  .poppins-medium-sm {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 13px;
  }
  
  .poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
  }
  
  .poppins-bold {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .poppins-extrabold {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
  }
  .poppins-extrabold-lg {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: normal;
    font-size: 55px;
    width: 650px;
  }
  
  .poppins-black {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: normal;
  }
  
  .poppins-thin-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 100;
    font-style: italic;
  }
  
  .poppins-extralight-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 200;
    font-style: italic;
  }
  
  .poppins-light-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: italic;
  }
  
  .poppins-regular-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: italic;
  }
  
  .poppins-medium-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: italic;
  }
  
  .poppins-semibold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: italic;
  }
  
  .poppins-bold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .poppins-extrabold-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 800;
    font-style: italic;
  }
  
  .poppins-black-italic {
    font-family: "Poppins", sans-serif;
    font-weight: 900;
    font-style: italic;
  }

  .homeBg{
    background-image: url("https://res.cloudinary.com/dubaep0qz/image/upload/v1712610998/360event/sjii6m4b7j1lkkfj9qs0.jpg");
    background-size: cover;
    height: 100vh;
  }
  .smallfont{
    font-size: 12px;
  }
  .custom-color{
    background-color: #04569f;
    
  }
  .custom-background{
    background:whitesmoke ;
    height: 100vh;
  }
  nav{
    z-index:99;
  }

  @media screen and (max-width: 480px) {
    .custom-color{
      background-color: #ffd900;
      
      
    }
    .poppins-extrabold-lg {
      font-family: "Poppins", sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 30px;
      width: 100%;
    }
    .getStart Button{
      width: 100%;
    }
    .homeBg{
      background-image: linear-gradient(rgb(4,86,159)20%, rgb(255, 230, 0)80%), url("https://res.cloudinary.com/dubaep0qz/image/upload/v1712610998/360event/sjii6m4b7j1lkkfj9qs0.jpg");
      background-size: cover;
      height: 100vh;
    }
    .poppins-medium-sm {
      font-family: "Poppins", sans-serif;
      font-weight: 500;
      font-style: normal;
      font-size: 12px;
    }
  }